.map-base{
    display: block;
    width: 100%;
    height: 90vh;
}

.description{
    height: 10vh;
    min-height: 35px;
}

.timeBar{
    width: 50vw;
    min-height: 20px;
}

.slider{
    position: relative;
    min-height: 20px;
    padding-top: 12px;
}

.bottom{
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 55vw;
    padding-top: 17px;
}

