.base {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#toolbar{
    width: 100%;
    height: 10vh;
    min-width: 160px;
    min-height: 30px;
}

#content{
    width: 100%;
    height: 90vh;
    min-width: 160px;
    min-height: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
}
