body { font: 12px Arial;}

path {
    stroke: steelblue;
    stroke-width: 4;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 3;
    shape-rendering: crispEdges;
}
